.warning_box {
    position: absolute;
    width: 100%;
    justify-items: center;
    z-index: 99;
}

.warning_bar {
    width: 800px;
    display: flex;

    span {
        font-size: 23px;
        margin: 12px;
        margin-left: 25px;
    }

    p {
        font-size: 18px;
        margin: 15px;
        margin-left: 15px;
    }
}

.time {
    background-color: var(--color-site);
    padding: 2px;
    transition: width 50ms linear;
}