.profile_container {
    width: 100%;
    margin-top: 71px;

    .profile_box {
        width: 55vw;
        justify-self: center;
        padding-bottom: 20px;
        border-radius: 10px;
        background-color: var(--color-card);

        .banner {
            width: 55vw;
            justify-self: center;
            margin-bottom: 130px;

            img {
                position: absolute;
            }

            .banner_image {
                width: 55vw;
                height: 200px;
            }
        }

        .banner_photo {
            width: 90px;
            height: 90px;
            margin: 0 auto;

            img {
                width: 90px;
                height: 90px;
                border-radius: 100%;
                margin-top: 120px;
            }
        }
    }

    .nickname {
        justify-self: center;
        color: var(--color-text);

        p {
            text-align: center;
            font-size: 14px;
            color: #abbcc3;
        }
    }

    .list_profile {
        justify-self: center;
        margin: 20px 0;
        width: 100%;

        .profile_border {
            display: flex;
            border-bottom: 1px solid var(--color-card-border);

            .list_type,
            .list_type_hover {
                flex: 1;
                text-align: center;
                padding: 10px 0;
                cursor: pointer;
            }

            .list_type_hover {
                color: var(--color-text);
                border-bottom: 1px solid var(--color-site);
            }

            .list_type {
                color: var(--color-text-hover);
            }
        }
    }

    .profile_information_title {
        margin: 20px 26px;
        color: var(--color-text);
    }

    .profile_information_container {
        display: flex;
        margin: 20px 26px;
        border-bottom: 1px solid var(--color-card-border);

        .profile_information_flex_1 {
            flex: 1;
            color: var(--color-text);

            p {
                font-size: 16px;
                margin: 10px 0;
            }

            p:last-of-type {
                margin-top: 12px;
            }
        }

        .profile_information_flex_2 {
            flex: 2;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            p {
                font-size: 16px;
                margin: 10px 0;
                color: var(--color-text);

            }

            .profile_social {
                display: flex;

                p {
                    font-size: 12px;
                    margin: 10px 0;
                    margin-top: auto;
                    padding: 5px 10px;
                    border-radius: 10px;
                    border: 1px solid var(--color-card-border);
                    color: var(--color-text);
                    cursor: pointer;
                    margin-right: 10px;
                }
            }
        }
    }

    .box_post {
        width: 100%;

        .box_post_component {
            width: calc(100% - 52px);
            margin-left: 26px;
            margin-right: 26px;
        }
    }
}

@media (max-width: 758px) {
    .profile_box {
        justify-self: start !important;

        .banner {
            width: 100%;

            .banner_image {
                width: 100% !important;
            }
        }
    }
}