.Comment_container {
    margin-top: 35px;

    .Comment_content {
        display: flex;
        align-items: center;
        margin-bottom: 25px;

        img {
            border-radius: 100%;
        }

        p:first-of-type {
            margin-left: 10px;
            margin-right: 20px;

        }

        p:last-of-type {
            
        }

        div:last-of-type {
            font-size: 20px;
            margin-left: auto;
            cursor: pointer;

            div {
                position: absolute;
                background-color: var(--color-card-border);

                p {
                    margin: 10px 15px;
                }
            }
        }

        div:hover:last-of-type {
            @include hover-style;
        }
    }

    .comment {
        margin-left: 35px;
        margin-top: 20px;
    }

    .comment_social {
        display: flex;
        padding-left: 35px;

        div {
            margin-right: 20px;
            margin-top: 15px;
            cursor: pointer;
        }

        div:hover {
            @include hover-style;
        }
    }

    .comment_answer {
        padding-left: 35px;
        margin-top: 20px;

        .reply_user {
            display: flex;
            align-items: center;
            font-size: 16px;

            .reply_icon {
                margin-right: 20px;
                cursor: auto;
            }

            .reply_icon:hover {
                color: var(--color-text);
            }

            p:first-of-type {

            }

            p:last-of-type {
                margin-left: 10px;
                margin-right: 20px;
            }
        }
    }
}

.date{
    font-style: italic;
    color: var(--color-text-hover);
}

.reply {
    margin-top: 20px;
}