.answer {
    padding: 20px 15px;
    background-color: var(--color-card);
    border: 2px solid var(--color-card-border);
    border-radius: 10px;

    div:first-child {

        .textarea_comment {
            width: 100%;
            resize: vertical;
            min-height: 40px;
            box-sizing: border-box;
            padding: 5px 10px;
            font-size: clamp(1rem, 0.5vw, 3rem); // TODO colocar isso em todo o site
            border-radius: 6px;
        }
    }

    div:last-child {
        display: flex;
        margin-top: 25px;
        align-items: center;

        div {
            display: flex;
            cursor: pointer;

            p {
                margin-left: 5px;
            }
        }

        div:hover {
            @include hover-style;
        }

        button {
            all: unset;
            margin-left: auto;
            padding: 10px;
            border-radius: 5px;
            background-color: var(--color-site);
            font-size: 15px;
            cursor: pointer;
        }

        button:hover {
            @include hover-style;
            color: var(--color-text-hover);
        }
    }
}