.nav_bar_box {
    width: 100%;
    box-shadow: 0 4px 12px rgba(#A351CF, 0.5);

    div {
        display: flex;
        justify-content: center;

        p:first-child {
            margin: 0;
            margin-top: auto;
            margin-bottom: auto;
            padding-right: 25rem;
            font-size: 25px;
            font-weight: 600;
        }

        p {
            margin: 2rem;
            color: var(--color-site);
        }

        P:last-child {
            margin: 0;
            margin-top: 15px;
            margin-left: 2rem;

            span {
                display: inline-block;
                background-color: var(--color-site);
                color: var(--color-text);
                padding: 15px 30px;
                border-radius: 7px;
            }

            span:hover {
                cursor: pointer;
                background-color: var(--color-site-hover);
                transition: 0.2s;
                color: var(--color-text-hover);
            }
        }
    }
}