@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --color-site: #A351CF;
    --color-site-hover: #6e318f;
    --color-background: #000110;
    --color-text: #FFF;
    --color-text-hover: #cac6c6;
    --color-card: #222B38;
    --color-card-border: #303D4E
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    background-color: var(--color-background);
}