.container {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100vh;

    .list {
        display: flex;
        flex-direction: column;
        height: 100vh;

        .content_title {
            color: #858f9b;
            margin: 16px 18px;
        }

        .dashboard {
            display: flex;
            margin: 16px 18px;
            align-items: center;

            div {
                svg {
                    width: 20px;
                }

                margin-right: 5px;
                cursor: pointer;
            }

            p {
                margin: 0 10px;
                cursor: pointer;
            }

            .number_ocorrency {
                width: 15px;
                aspect-ratio: 1 / 1;
                background-color: var(--color-text);
                color: rgb(34, 43, 56);
                margin-left: auto;
                padding: 5px;
                border-radius: 100%;
                text-align: center;
            }
        }

        .color_site {
            display: flex;
            background-color: rgb(48, 61, 78);
            align-items: center;
            margin: 16px 18px;
            padding: 4px 0;
            border-radius: 10px;
            justify-content: center;

            .color_site_container {
                display: flex;
            }

            .light_theme {
                display: flex;
                // margin-left: 40px;
                padding: 10px;

                div {
                    font-size: 14px;
                }

                p {
                    font-size: 14px;
                    margin-left: 8px;
                }
            }

            .dark_theme {
                display: flex;
                background-color: rgb(21, 27, 34);
                padding: 10px;
                border-radius: 10px;
                // margin-left: auto;

                div {
                    font-size: 14px;
                }

                p {
                    font-size: 14px;
                    margin-left: 8px;
                }
            }
        }
    }

    .box_post {
        .filter {
            display: flex;
            margin-bottom: 15px;
            align-items: center;

            select {
                padding: 8px 5px;
                width: 10vw;
                border-radius: 10px;
                background-color: rgb(34, 43, 56);
                border: 2px solid rgb(48, 61, 78);
                color: var(--color-text);
                padding-right: 10px;
            }

            div {
                margin-left: auto;

                input {
                    padding: 8px 5px;
                    width: 18vw;
                    border-radius: 10px;
                    background-color: rgb(34, 43, 56);
                    border: 2px solid rgb(48, 61, 78);
                    color: var(--color-text);
                }

                input[type="search"]::-webkit-search-cancel-button {
                    color: var(--color-text);
                }
            }
        }

        margin: 90px auto;
        padding-top: 40px;

        .pagination {
            margin-top: 30px;
            justify-items: center;

            .pagination_box {
                display: flex;
                gap: 10px;
                width: fit-content;
            }

            .arrow_left {
                padding: 0 14px;
                padding-top: 8px;
                padding-bottom: 6px;
                border-radius: 10px;
                background-color: rgb(34, 43, 56);
                border: 1px solid rgb(48, 61, 78);
                color: var(--color-text);
                cursor: pointer;
            }

            .arrow_left:hover {
                transition: 0.2s;
                color: var(--color-text-hover);
            }

            .pagination_numbers {
                display: flex;

                .span {
                    color: var(--color-text);
                    margin: 0 10px;
                    padding: 0 14px;
                    padding-top: 8px;
                    padding-bottom: 6px;
                    border-radius: 10px;
                    background-color: rgb(34, 43, 56);
                    border: 1px solid rgb(48, 61, 78);
                    color: var(--color-text);
                    cursor: pointer;
                }

                .span:hover {
                    transition: 0.2s;
                    color: var(--color-text-hover);
                }

                .span_selected {
                    color: var(--color-text);
                    margin: 0 10px;
                    padding: 0 14px;
                    padding-top: 8px;
                    padding-bottom: 6px;
                    border-radius: 10px;
                    background-color: var(--color-site);
                    border: 1px solid var(--color-text-hover);
                    color: var(--color-text);
                    cursor: pointer;
                }
            }

            .arrow_right {
                padding: 0 14px;
                padding-top: 8px;
                padding-bottom: 6px;
                border-radius: 10px;
                background-color: rgb(34, 43, 56);
                border: 1px solid rgb(48, 61, 78);
                color: var(--color-text);
                cursor: pointer;
            }

            .arrow_right:hover {
                transition: 0.2s;
                color: var(--color-text-hover);
            }
        }
    }
}